body {
  font-family: "Roboto", sans-serif;
  background-color: #333;
  color: white;
  margin: 3% 10% 0% 10% !important;
  padding: 0;
  top: 0;
}

#img_nav_mid {
  margin-top: -15px !important;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
#img_l_nav {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.link-warning:hover {
  color: white !important;
}

.navbar {
  margin: 3% 10% 0% 10% !important;
  width: 80%;
}
