html,
body {
  top: 0;
  margin: 0;
  padding: 0;
}
section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 3% 15% 3% 15%;
}

button {
  padding: 10px;
  margin: 5px;
  font-size: 12pt;
}
